.sizing {
  margin-left: 10%;
  margin-right: 10%;
}

header {
  background-color: lightblue;
}

.header {
  margin: auto;
  width: 50%;
  text-align: center;
}

.center{
  text-align: center;
}

.top {
  border-style: solid;
}

.categories {
  border-left-style: solid;
}